/* GERAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  color: #000;
  background: #ffffff;
}


section {
  padding: 120px 8% 80px;
}

/* HEADER FIXO */

header {
  display: flex;
  position: fixed;
  width: 100%;
  background: #ffffffe6;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  justify-content: space-between;
  padding: 15px 8%;
}

.logo img{
  width: 100px;  
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
}


nav a.active {
  background: #009ba2;
  padding: 8px 18px;
  border-radius: 999px;
}


/* BOTÃO */

.btn {
  border: none;
  background: #00aebc;
  color: #fff;
  padding: 12px 26px;
  border-radius: 999px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-left: 80%;
}

.btn:hover {
  background: #008e99;
}

.btn-small {
  font-size: 0.8rem;
  padding: 10px 22px;
}

.btn-invertido {
  background: #fff;
  color: #000;
}

.btn-invertido:hover {
  background: #f0f0f0;
}

/* SECÇÃO INÍCIO */

.sec-inicio {
  padding-top: 140px;
}

.inicio-conteudo {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.inicio-ilustracao {
  flex: 1;
  min-height: 260px;
  width: 50%;
}

.inicio-ilustracao img{
   width: 100%; 
}

.inicio-texto {
  flex: 1;
}

.inicio-texto h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-left: 40%;
}

.inicio-texto span {
  color: #00aebc;
}

.inicio-info {
  display: flex;
  justify-content: center;
  gap: 280px;
  margin-top: 50px;
}

.info-item {
  text-align: center;
  font-size: 0.9rem;
}

.info-item img{
    width: 100px;
}

.info-item p{
    font-weight: bold;
}


/* SECÇÃO EVENTO */


.evento-poster {
  margin: 30px auto 20px;
}

.evento-poster img{
    width: 50%;
    margin-left: 25%;
}


/* SECÇÃO CONVIDADOS */

.sec-convidados {
  text-align: center;
}


.subtitulo {
  margin-bottom: 40px;
}

.grid-convidados {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
  justify-items: center;
  margin-bottom: 40px;
}

.convidado .foto {
  width: 170px;
  height: 170px;
  background: #dcdcdc;
  margin-bottom: 10px;
}

.convidado .nome {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
}

.convidados h2{
    font-size: 1.1rem;
    font-weight: 100;
}

.convidado p {
    margin-top: 50px;
    margin-left: 15px;
}


/* SECÇÃO REGISTAR */

.sec-registar {
  display: flex;
  justify-content: center;
}

.registar-caixa {
  width: 100%;
  max-width: 800px;
  background: #7fd6dd;
  border-radius: 180px;
  padding: 60px 80px;
  text-align: center;
}

.registar-titulo {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

form label {
  display: block;
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 4px;
  border: none;
}

.msg-ok {
  margin-top: 10px;
  font-size: 0.85rem;
}

.escondido {
  display: none;
}


/* SECÇÃO MAIS INFO */

.sec-info h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.info-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.mapa {
  flex: 2;
  min-height: 350px;
}

.acessos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.acesso-bloco img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.acesso-bloco{
    display: flex;
}

p{
    align-items: center;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 30px 0;
  font-size: 0.8rem;
  border-top: 1px solid #e5e5e5;
}
